In [1]:
from backtester import main

In [2]:
port = main("data", "ap", "2020-07-01 09:00:00")

[('Total Return', '0.00%'), ('Sharpe Ratio', '0.00'), ('Max Drawdown', '0.01%'), ('Drawdown Duration', '120')]

In [3]:
port.equity_curve

,ap,cash,commission,total,returns,equity_curve
datetime,,,,,,
2020-07-01 09:00:00,0.0,1000000.0,0.0,1000000.0,NaN,NaN
2020-07-01 09:00:00,0.0,1000000.0,0.0,1000000.0,0.000000e+00,1.000000
2020-07-01 09:01:00,7969.0,992015.0,0.0,999984.0,-1.600000e-05,0.999984
2020-07-01 09:02:00,7986.0,992015.0,0.0,1000001.0,1.700027e-05,1.000001
2020-07-01 09:03:00,7982.0,992015.0,0.0,999997.0,-3.999996e-06,0.999997
...,...,...,...,...,...,...
2020-07-01 11:27:00,7995.0,992015.0,0.0,1000010.0,9.999910e-07,1.000010
2020-07-01 11:28:00,7984.0,992015.0,0.0,999999.0,-1.099989e-05,0.999999
2020-07-01 11:29:00,7985.0,992015.0,0.0,1000000.0,1.000001e-06,1.000000
2020-07-01 11:30:00,7985.0,992015.0,0.0,1000000.0,0.000000e+00,1.000000
2020-07-01 11:30:00,7985.0,992015.0,0.0,1000000.0,0.000000e+00,1.000000