In [20]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("ap_mins.csv")

In [3]:
df.columns

Index(['UpdateTime', 'Open', 'High', 'Low', 'Close', 'Volume', 'Turnover',
       'open_bid_price1', 'close_bid_price1', 'open_ask_price1',
       'close_ask_price1'],
      dtype='object')

In [4]:
old_columns = ['UpdateTime', 'Open', 'Low', 'High', 'Close', 'Volume']
new_columns = ['datetime','open','low','high','close','volume']

In [14]:
df_new = df[old_columns].copy()

In [16]:
df_new.columns = new_columns

In [17]:
df_new.head()

              datetime    open     low    high   close  volume
0  2020-07-01 09:00:00  7944.0  7944.0  7986.0  7985.0  3700.0
1  2020-07-01 09:01:00  7984.0  7969.0  7988.0  7969.0  2196.0
2  2020-07-01 09:02:00  7969.0  7969.0  7986.0  7986.0  1349.0
3  2020-07-01 09:03:00  7986.0  7980.0  7993.0  7982.0  1733.0
4  2020-07-01 09:04:00  7982.0  7973.0  7989.0  7974.0  1082.0

In [24]:
df_new.to_csv('ap.csv', index=None)